*,
*::before,
*::after {
box-sizing: border-box;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}


.nav-link {
    text-decoration: none;
    color: rgb(131, 83, 11);
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
}

h1{
    color:rgb(131, 83, 11);
    font-size: 36px;
    font-family: Arial, sans-serif;
    margin-bottom: 5%;
}

h2:hover {
    color: #a52a2a;
    text-decoration: underline;
}

/* Hero Video Section */

.hero-video-section {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 20px;    
    text-align: center;
    border: 3px solid rgb(131, 83, 11);
    
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    min-width: 400px;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    color: #333;
    margin-left: 20px;
    padding: 20px;
    margin-bottom: 16px;

}

li {
    padding: 8px;
    border-bottom: 1px solid grey;
}

.italic-h2 {
    font-style: italic;
    font-weight: bold;
    color: rgb(131, 83, 11);
    font-size: 52px;
    font-family: Brush Script MT, cursive, sans-serif;
}

.parent {
color: rgb(0, 0, 0);
text-align: justify;
font-family: Georgia, serif;
border: 2px solid rgb(131, 83, 11);
padding: 10px;
max-width: 100%;
margin: 0 auto;
}

/*Buttons*/
.productbutton {
    background-color: rgb(131, 83, 11);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.submit-button {
    background-color: #a52a2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/*end buttons*/

/* Figure Captions */   
.fig-caption {
    font-style: italic;
    font-weight: bold;
    color: rgb(131, 83, 11);
    font-size: 24px;
    font-family: Brush Script MT, cursive, sans-serif;
}

.contact-form {
    color:rgb(131, 83, 11);
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info {
    color:rgb(131, 83, 11);
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-text {
     font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Products Grid */
.products-grid {
display:grid;
grid-template-columns: 1fr 1fr;
grid-gap: 15px;
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

.products-grid img {
    width: 100%;
    height: auto;
    text-align: center;
}

/* Footer */
footer {
    background-color: rgb(131, 83, 11);
    padding: 5px;
    bottom: 0;
    width: 100%;
    text-align: match-parent;
    display: flex;
    text-decoration: none;

}

.footer-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #a52a2a;
    text-decoration: underline;
}


.footer-nav {
        display:inline-block;
    color:white;
}

footer a:hover {
    text-decoration: underline overline;
}

.footer-nav {
    display: block;
    text-align: center;
    margin:5px 0;
}